header {
    border-bottom: oklch(0.954 0.038 75.164) solid 0.666667px;
    --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color, #0000001a), 0 4px 6px -4px var(--tw-shadow-color, #0000001a);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, var(--tw-shadow);
}

header .head-icon {
    width: 48px;
    height: 48px;
    color: white;
    background: linear-gradient(to right bottom, oklch(0.705 0.213 47.604) 0%, oklch(0.637 0.237 25.331) 100%);
    margin-right: 12px;
    --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color, #0000001a), 0 4px 6px -4px var(--tw-shadow-color, #0000001a);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, var(--tw-shadow);
}

header .head-icon i {
    font-size: 20px;
}

header .head-titel h1 {
    line-height: 32px;
}

header .head-titel p {
    font-size: 14px;
    line-height: 20px;
    color: oklch(0.551 0.027 264.364);
}

header .right-div i {
    font-size: 20px;
    color: oklch(0.446 0.03 256.802);
    margin-right: 20px;
    transition: .15s;
    cursor: pointer;
}

header .right-div i:hover {
    color: #f54900;
}

header .right-div img {
    width: 36px;
    height: 36px;
    border: oklch(0.837 0.128 66.29) 2px solid;
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
}





#home {
    padding: 32px 24px;
    background-color: #fffaeb;
}

#home .main-div {
    margin-bottom: 32px;
    border: oklch(0.954 0.038 75.164) solid 0.666667px;
    border-radius: 24px;
    height: 500px;
    background-color: white;
    height: 750px;
    --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color, #0000001a), 0 4px 6px -4px var(--tw-shadow-color, #0000001a);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, var(--tw-shadow);
}

#home .main-div .grid-div {
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#home .main-div .grid-div .div1 {
    grid-column: span 2;
    min-width: 0;
    /* height: 100%; */
}

#home .main-div .grid-div .div1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}
#home .main-div .grid-div .div1 .sm-div{
    top: 24px;
    left: 24px;
    padding: 8px 16px;
    background-color: #f9f8f6;
    border-radius: 24px;
}
#home .main-div .grid-div .div1 .sm-div i{
    color: #fdc700;
}
.p{
    font-size:14px;
    line-height: 20px;
    color: oklch(0.551 0.027 264.364);
}
#home .main-div .grid-div .div1 .lg-div{
    padding: 24px;
    left: 24px;
    bottom: 24px;
    background-color: white;
    border-radius: 16px;
}
#home .main-div .grid-div .div1 .lg-div .div1 i{
    font-size: 24px;
    color: #ff6900;
}
#home .main-div .grid-div .div2{
    grid-column: span 3;
    padding: 40px;
    /* height: auto; */
}
#home .main-div .grid-div .div2 .div1 .top{
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
}
#home .main-div .grid-div .div2 .div1 .top .top1{
    color: #008236;
    padding: 4px 12px;
    margin-right: 12px;
    border-radius: 16px;
    background-color: #dbfce7;
}
#home .main-div .grid-div .div2 .div1 .top .top2{
    color: #1447e6;
    padding: 4px 12px;
    margin-right: 12px;
    border-radius: 16px;
    background-color: #dbeafe;
}
.nav-link{
    color: oklch(0.551 0.027 264.364);
    /* margin-bottom: 48px; */
}
.drop1 .dropdown-menu #ingredients{
    background-color: #fff8ed;
    height: 330px;
}
.drop1 .dropdown-menu .line{
    margin-bottom: 12px;
}
.drop1 .dropdown-menu .cir{
    width: 24px;
    height: 24px;
    background-color: #ff6900;
    margin-right: 12px;
    color: white;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    border-radius: 16px;
}
.drop1 .line , .drop2 .line{
    color: oklch(0.373 0.034 259.733);
}
.lien-div{
    height: .5px;
    background-color: #e5e7eb;
    top: 50px;
    left: 0;
    right: 0;
}
.dropdown-menu{
    height: 330px;
}
.drop2 .dropdown-menu .cir{
    width: 48px;
    height: 48px;
    background-color: #ff6900;
    color: white;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-right: 16px;
    border-radius: 16px;
}
.drop3 .rectangle{
    background-color: oklch(0.985 0.002 247.839);
    border-radius: 12px;
}
.drop3 .subdiv{
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 8px;
}
.drop3 .subdiv1{
    background-color: oklch(0.954 0.038 75.164);
    color: oklch(0.646 0.222 41.116);
}
.drop3 .subdiv2{
    background-color: oklch(0.932 0.032 255.585);
    color: oklch(0.546 0.245 262.881);
}
.drop3 .subdiv3{
    background-color: oklch(0.973 0.071 103.193);
    color: oklch(0.681 0.162 75.834);
}
.drop3 .subdiv4{
    background-color: oklch(0.936 0.032 17.717);
    color: oklch(0.577 0.245 27.325);
}
.drop3 .subdiv5{
    background-color: oklch(0.962 0.044 156.743);
    color: oklch(0.627 0.194 149.214);
}
.drop3 .subdiv6{
    background-color: oklch(0.948 0.028 342.258);
    color: oklch(0.592 0.249 0.584);
}
.drop3 .rectangle span{
color: oklch(0.373 0.034 259.733);
font-weight: 500;
}
.drop3 .rectangle h3{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
.drop4 .line{
    border-radius: 12px;
    border-left: 4px solid oklch(0.828 0.189 84.429);
    background-color: #fffbeb;
}
.drop4 .line .true{
    width: 20px;
    height: 20px;
    font-size: 8px;
    margin-right: 12px;
    color: white;
    background-color: oklch(0.666 0.179 58.318);
}
.btn{
    margin-top: 405px;
}
button{
    padding: 12px 24px;
    border-radius: 12px;
    margin-top: 24px;
    color: white;
    transition: .3s;
    font-weight: 600;
    background: linear-gradient(to right, oklch(0.705 0.213 47.604) 0%, oklch(0.637 0.237 25.331) 100%);
}
button:hover{
    transform: scale(1.05);
    background: linear-gradient(to right, oklch(0.646 0.222 41.116) 0%, oklch(0.577 0.245 27.325) 100%);
}
.sec2 > div{
    position: static !important;
}
#menu .dropdown-menu{
    position: absolute !important;
    /* left: 24px !important; */
    /* right: 24px !important; */
    /* top: 60px !important; */
    width: calc(100% - 80px);
}
